@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans.ttf') format('truetype');
}

body {
    background-color: #f5f5f5;
}
